<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SavePath" value="D:\\Temp\\"/>
    <add key="LogPath" value="D:\\Temp\\"/>
    <add key="TimerScreenShot" value="30"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
